<!DOCTYPE html>
<html>
<head>
	<title>Tanke</title>
<meta charset="utf-8"/>
<link rel="stylesheet" href="static/src/lib/codemirror.css">
<link rel="stylesheet" href="static/src/addon/hint/show-hint.css">
<link rel="stylesheet" href="static/src/addon/fold/foldgutter.css" />
<script src="static/src/lib/codemirror.js"></script>
<script src="static/src/addon/hint/show-hint.js"></script>
<script src="static/src/addon/hint/javascript-hint.js"></script>
<script src="static/src/mode/javascript/javascript.js"></script>
<script src="static/src/addon/fold/foldcode.js"></script>
<script src="static/src/addon/fold/foldgutter.js"></script>
<script src="static/src/addon/fold/brace-fold.js"></script>
<script src="static/src/addon/fold/xml-fold.js"></script>
<script src="static/src/addon/fold/comment-fold.js"></script>
<script src="static/src/mode/xml/xml.js"></script>

<script src="http://localhost:8086/socket.io/socket.io.js"></script>
<script src="static/src/pixi.dev.js"></script>
<script src="static/src/box2d.min.js"></script>
<script src="static/World.js"></script>
<script src="static/Interface.js"></script>
<script src="static/Renderer.js"></script>
<script src="static/Key.js"></script>
<script src="static/Map_Class.js"></script>
<script src="static/Map.js"></script>
<script src="static/TanKe.js"></script>

<style type="text/css">
	div{
		float: left;
	}
</style>

</head>

<body>
<div id="main">
<div id='mainFrame'></div>
<div id="editFrame">
<input type="submit" value="Submit"></input>
<input type="submit" value="DeBug"></input>

<form style="width:500px;">
	<!-- Some random JS code placed in the textarea for demo purposes -->
	<textarea id="code" name="code">
		console.log("Happy code")
	</textarea>
</form>

</div>
<script type="text/javascript">
	window.onload = function() {
		CodeMirror.commands.autocomplete = function(cm) {
		    CodeMirror.showHint(cm, CodeMirror.hint.javascript);
		};
		window.editor = CodeMirror.fromTextArea(code, {
		    mode: "javascript",
		    lineNumbers: true,
		    lineWrapping: true,
		    extraKeys: {"Ctrl-Space": "autocomplete"},
		    foldGutter: {
		        rangeFinder: new CodeMirror.fold.combine(CodeMirror.fold.brace, CodeMirror.fold.comment)
		    },
		    gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"]
		});
		};
</script>

<script type="text/javascript">
	var World_wide=620;
	var World_high=620;
	var tankeworld=createWorld();
	var stagea = new PIXI.Stage(0x00FF99);
	var renderer = PIXI.autoDetectRenderer(World_wide, World_high);
	var frame=document.getElementById("mainFrame");
	frame.appendChild(renderer.view);

	//
	document.onkeydown = KeyDown;
	createMap();
	//add body
	var tanke1=createTanke(100,300,stagea,1);
	var tanke2=createTanke(300,100,stagea,2);
	tanke1.m_rotation=0;
	// console.log(tanke1);
	// var tanke3=createTanke(300,300,stagea,3);
	//

	var socket = io('http://127.0.0.1:8086');
	socket.on('news', function (data) {
	console.log(data);
	var value_addr=data.search('%');
	var player=data.slice(0,data.search('-'));
	if (value_addr!=-1) {
		var commant=data.slice(data.search('-')+1,value_addr);
		var value=parseInt(data.slice(value_addr+1));
	}
	else{
		var commant=data.slice(data.search('-')+1);
	}
	console.log(player,commant,value)
	if (player=="player1") {
		if (commant.slice(0,5)=='run_x') {
			tanke1.GetUserData().position.x+=value;
		}
		else if(commant.slice(0,5)=='run_y'){
			tanke1.GetUserData().position.y+=value;
		}
		else if(commant=='Fire_Hold'){
			tanke1.GetUserData().goFire();
		}
	};
	socket.emit('my other event', { my: 'mydata' });
	});



</script>

</body>
</html>